$colorPrimary: #0e2838;
$colorSecondary: #f05c26;
$colorTertiary: #8e8574;
$colorLight: #f9f9f9;

$thin: 200;
$light: 300;
$normal: 400;
$semibold: 600;

$fs-base: 16px;

$fs-h1: 36px;
$fs-h2: 32px;
$fs-h3: 28px;
$fs-h4: 24px;
$fs-h5: 20px;
$fs-h6: 18px;

$fs-milli: 14px;
$fs-micro: 10px;
$fs-nano: 8px;

$fs-giga: 80px;
$fs-mega: 70px;
$fs-kilo: 60px;
